@options-height: 200px;
@pdf-height: 550px;
@sans: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;

* {
    margin: 0;
    font-family: @sans;
    color: #003262;
}

.header {
    padding: 5px;
    h1 {
        border-bottom: 1px solid #fdb515;
        font-size: 30px;
        font-weight: normal;
    }
    h2 {
        font-weight: normal;
    }
}

.options {
    padding: 5px;
    width: 100%;
    div {
        display: inline-block;
        vertical-align: top;
    }
    > div {
        border: 1px solid black;
        padding: 5px;
        margin: 0 5px;
    }
    .widget-orientation {
        .orientation-labels {
            padding-right: 15px;
            p {
                margin: 0;
            }
        }
        .orientation-buttons {
            vertical-align: bottom;
            input {
                margin: 0 5px;
            }
        }
    }
    .layout-order {
        .layout-buttons {
            input {
                margin: 0 5px;
            }
        }
    }
}

iframe {
    height: @pdf-height;
    width: 100%;
}