@import "utils.less";

@header-height: 150px;
@option-height: 100px;

body {
    padding-top: 20px;
    height: 100%;
    box-sizing: border-box;
}

.header {
    margin-bottom: 20px;
    padding: 0 15px;
    height: @header-height;
    white-space: nowrap;
    z-index: 10;
    h1 {
        margin-bottom: 10px;
        border-bottom: 1px solid #fdb515;
        font-size: 30px;
        font-weight: normal;
        .back-link-span {
            position: relative;
            font-size: 18px;
            top: -5px;
            &:before {
                content: "\2014";
                margin-right: 10px;
            }
        }
    }
    h3 {
        margin-bottom: 5px;
    }
    p {
        margin: 0;
        line-height: 1.3em;
    }
    .pdf-option {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        height: @option-height;
        border: 1px solid black;
        padding: 5px;
        margin: 0 5px;
        div {
            display: inline-block;
            &.buttons input {
                margin: 0 5px;
            }
        }
        &.widget-orientation {
            margin-left: 0;
            .labels {
                padding-right: 15px;
            }
        }
        .js-dot-labels {
            width: 200px;
            & + .chosen-container {
                .chosen-choices {
                    height: 65px !important;
                    background-image: none;
                }
                .search-field {
                    margin: 3px 0;
                    padding: 2px;
                }
            }
        }
        .choose-all-dots {
            font-weight: normal;
            float: right;
        }
    }
}

.js-pdf-loading {
    text-align: center;
    .highstepper-icon {
        margin-bottom: 10px;
    }
    h1 {
        font-family: @sans;
        font-weight: normal;
        font-size: 32px;
        margin-bottom: 15px;
        color: @calband-gold;
        &.error {
            color: #ff0000;
        }
    }
    .progress-bar-container {
        width: 400px;
        margin: 0 auto;
        text-align: left;
        .progress-bar {
            display: inline-block;
            height: 5px;
            background: @calband-blue;
        }
    }
}

.js-pdf-preview {
    width: 100%;
    height: ~"calc(100% - (@{header-height} + 20px))";
}